.delivery {
  padding: 2rem 0;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;

  /* Для кастомного checkbox */
  position: relative;

  @include breakpoint($vp-767) {
    padding: 1.2rem 0;
  }
}

.delivery label {
  cursor: pointer;
}

.delivery__info {
  padding: 0 4.5rem 0 0;
}

.delivery__info p {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;

  @include breakpoint($vp-767) {
    font-size: 1.6rem;
    line-height: 1.3;

    margin: 0 0 1rem;
  }
}

.delivery__info span {
  font-size: 1.2rem;
  line-height: 1.25;
  color: #6E6E6E;
}

.delivery__checkbox-indicator {
  position: absolute;
  right: 0;
  top: 2.5rem;

  width: 3.4rem;
  height: 1.4rem;

  background-color: #C8C8C8;
  border-radius: 5rem;
  opacity: 0.5;

  transition: background-color 0.3s linear;

  @include breakpoint($vp-767) {
    top: 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);

    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: #6E6E6E;

    transition: right 0.3s linear, background-color 0.3s linear;
  }
}

.delivery input:checked+.delivery__checkbox-indicator {
  background-color: green;
}

.delivery input:checked+.delivery__checkbox-indicator::after {
  right: 0;
  background-color: green;
}

.delivery label:hover p {

  // Эффекты при наведении в десктопной версии
  @media (min-width: 1200px) {

    &:hover,
    &:focus {
      color: #cc7e5e;
    }

    &:active {
      color: #f68050;
    }
  }

  &:active {
    color: #f68050;
  }
}
