.header {
  border-bottom: 0.5px solid #C8C8C8;
  margin-bottom: 4.8rem;

  @include breakpoint($vp-767) {
    border-bottom: none;
    margin-bottom: 2.2rem;

    /* Для меню в мобилке */
    position: relative;

    /* Плашка */
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      height: 0;
      background-color: #000;
      z-index: $header-bar;

      transition: height 0.3s linear;
    }

    /* Выезжающий фон - справа у мобильного меню */
    &::before {
      content: "";
      position: absolute;
      top: 6rem;
      right: -50%;

      width: 50%;
      height: 100vh;
      background-color: #000;

      transition: right 0.3s linear;
      z-index: $mobile-menu;

    }
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  align-items: center;

  padding: 2.5rem 0;

  @include breakpoint($vp-767) {
    display: flex;
    justify-content: space-between;

    padding: 2.5rem 0 0;
  }
}

/* Добавление плашки при открытии меню, чтобы при большом количестве эл-ов навигации в мобильном меню ничего не заезжало на бургер*/

.header.is-open::after {
  height: 6rem;

}

.header.is-open::before {
  right: 0;
}

.header__nav-block {
  justify-self: end;
  margin-left: 5rem;

  @include breakpoint($vp-767) {
    margin: 0;
  }
}
