/* Позиционирование блоков */
.making-order__wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 42px;
  column-gap: 4rem;

  @include breakpoint($vp-767) {
    display: block;
  }
}

.making-order__approximate-cost {
  grid-column: 1/2;
}

.making-order__product-list {
  grid-column: 1/2;
}

.making-order__header {
  display: flex;
  column-gap: 2rem;

  // margin: 0 0 6rem;

  @include breakpoint($vp-767) {
    display: block;

    margin: 0 0 3.2rem;
  }
}

.making-order__body {
  margin: 0 0 2rem;
}

.making-order__header h1 {
  font-size: 4rem;
  line-height: 1.05;

  margin: 0;

  @include breakpoint($vp-767) {
    font-size: 2.8rem;
    line-height: 1.07;
    font-weight: 400;

    margin: 0 0 1rem;
  }
}

/* approximate-cost */

.approximate-cost {
  display: flex;
  column-gap: 0.4rem;
  flex-wrap: wrap;

  font-size: 2.8rem;
  line-height: 1.07;

  margin: 0 0 10px;
}

.approximate-cost p {
  margin: 0;
}

/* Товары */

.making-order__product-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.product__description h3 {
  font-size: 2rem;
  line-height: 1.2;

  margin: 0 0 1rem;
}

/* article-number */

.article-number {
  display: flex;
  column-gap: 0.5rem;
}

.article-number h4,
.article-number span {
  font-size: 1.2rem;
  line-height: 1.25;

  margin: 0
}

.article-number h4 {
  color: #6E6E6E;
}

.article-number span {
  color: #000;
}

/* season */

.season {
  display: flex;
  column-gap: 0.5rem
}

.season h4,
.season p {
  font-size: 1.2rem;
  line-height: 1.25;

  margin: 0
}

.season h4 {
  color: #6E6E6E;
}

.season p {
  color: #000;
}


/* size */
.size {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.size label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  line-height: 1.25rem;
  width: 3rem;
  height: 3rem;

  border-radius: 0.6rem;
  background-color: #F1F1F1;

  cursor: pointer;
}

.size input:checked+label {
  background-color: #000;
  color: #fff;
}

.size input:disabled+label {
  color: #C8C8C8;
  cursor: default
}

/* color */

.color {
  @include list-reset;

  display: flex;
  column-gap: 1rem;

  padding: 0.3rem 0;
}

.color label {
  display: block;
  width: 1.6rem;
  height: 1.6rem;

  border-radius: 50%;

  cursor: pointer;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 2.2rem;
    height: 2.2rem;

    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #000;
    z-index: -1;

    display: none;
  }
}

.color__black label {
  background-color: #444444;
}

.color__blue label {
  background-color: #106DA1;
}

.color__gray label {
  background-color: #AE6D0C;
}

.color input:checked+label::before {
  display: block;
}

/* product */

.product {
  display: grid;
  grid-template-columns: 130px 1fr 1fr min-content;
  grid-template-rows: min-content auto;
  column-gap: 10px;

  padding: 2.5rem 0;
  border-top: 0.5px solid #C8C8C8;
  border-bottom: 0.5px solid #C8C8C8;

  @include breakpoint($vp-767) {
    grid-template-columns: min-content 1fr min-content;
    column-gap: 4px;
    row-gap: 8px;

    padding: 1.6rem 0;
  }
}

.product__title {
  color: inherit;
  text-decoration: none;

  grid-row: 1/2;
  grid-column: 2/3;
  max-width: 200px;

  @include breakpoint($vp-767) {
    grid-column: 2/3;
  }
}

.product__title h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 1.5rem;

  @include breakpoint($vp-767) {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

.product__description {
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 20rem;

  @include breakpoint($vp-767) {
    grid-column: 1/-1;
    max-width: 100%;

    margin: 0 0 0.8rem;
  }
}

.product__quantity {
  grid-row: 1/2;
  grid-column: 3/4;
}

// .product__description h3 {
//   margin: 0 0 1.5rem;
// }

.product__article-number,
.product__season,
.product__size {
  margin: 0 0 1rem;
}

.product__image {
  grid-column: 1/2;
  width: 13rem;
  height: 16rem;
  grid-row: 1/-1;

  @include breakpoint($vp-767) {
    width: 9rem;
    height: 11rem;
    margin: 0 0.8rem 0 0;

    grid-row: auto;

  }
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__remove {
  width: 20px;
  height: 20px;
}


/* cheque */

.making-order__cheque {
  grid-row: 1/2;
  grid-column: 2/-1;
}

/* product__remove-btn */
.product__remove-btn {
  position: relative;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: border-radius 0.3s ease-in-out;

  grid-row: 1/2;
  grid-column: 4/5;

  @include breakpoint($vp-767) {
    grid-column: 3/-1;
    grid-row: 1/2;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* recovery */

.recovery {
  width: 100%;
  height: 50px;
}
