/* Позиционирование блоков */
.making-order__wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  // grid-template-rows: 42px;
  column-gap: 4rem;

  margin-bottom: 5rem;

  // position: relative;

  @include breakpoint($vp-767) {
    display: block;
  }
}

.making-order__approximate-cost {
  grid-column: 1/2;
}

.making-order__product-list {
  grid-column: 1/2;
}

.making-order__header {
  display: flex;
  column-gap: 2rem;

  // padding: 0 44rem 0 0;

  margin: 0 0 6rem;

  @include breakpoint($vp-767) {
    display: block;

    margin: 0 0 3.2rem;
  }
}

.making-order__body {
  // margin: 0 0 2rem;

  // padding: 0 44rem 0 0;
}

.making-order__header h1 {
  font-size: 4rem;
  line-height: 1.05;

  margin: 0;

  @include breakpoint($vp-767) {
    font-size: 2.8rem;
    line-height: 1.07;
    font-weight: 400;

    margin: 0 0 1rem;
  }
}

/* Товары */

.making-order__product-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.product__description h3 {
  font-size: 2rem;
  line-height: 1.2;

  margin: 0 0 1rem;
}

/* cheque */

.making-order__cheque {
  grid-row: 1/2;
  grid-column: 2/-1;
}

/* recovery */

.recovery {
  width: 100%;
  height: 50px;
}
