.map {
  width: 100%;
  max-width: 400px;
  height: 450px;
  background-color: rgb(77, 146, 173);

  // grid-column: 2/-1;
  // align-self: start;
  // grid-row: 1/2;

  position: absolute;
  top: 0;
  right: 0;

  @include breakpoint($vp-767) {
    position: static;

    width: 100%;
    max-width: none;
    height: 22rem;

    margin: 1.6rem 0 4.3rem;
  }
}
