.privacy-policy {
  font-size: 1.4rem;
  line-height: 1.3rem;

  text-align: center;
}

.privacy-policy p {
  margin: 0;
  color: #6E6E6E;
}

.privacy-policy a {
  color: inherit;
  text-decoration: underline;
}
