// Viewports
// ---------------------------------

$vp-767:                            767px;

// z-index
// ---------------------------------

$page-body-shadow:                  4;
$mobile-menu:                       5;
$header-bar:                        6;
$burger:                            7;
$logo:                              7;
